process {
    withName: FASTP {
        memory = { 4.GB.plus(4.GB * task.attempt) }
    }
    withName: BWA_MEM_ALIGN_ALT_POSTALT {
        cpus = 6
        memory = { 16.GB.plus(12.GB * task.attempt) }
    }
    withLabel: bwa_mem_container {
        container = 'quay.io/biocontainers/bwakit:0.7.18.dev1--hdfd78af_0'
        cpus = 4
        memory = { 16.GB.plus(8.GB * task.attempt) }
    }
    withName: BAM_TO_FASTQ {
        cpus = 12
        memory = { 12.GB.plus(12.GB * task.attempt) }
    }
    withLabel: biobambam2_container {
        container = 'quay.io/biocontainers/biobambam:2.0.185--h85de650_1'
    }
    withName: MARK_DUPLICATES {
        cpus = 4
        memory = { 4.GB.plus(4.GB * task.attempt) }
    }
    withName: RUN_OPTITYPE {
        cpus = 4
        memory = { 16.GB.plus(8.GB * task.attempt) }
    }
    withName: RUN_POLYSOLVER {
        container = 'kevinr9525/sachet-polysolver:v4'
        memory = { 8.GB.plus(4.GB * task.attempt) }
        cpus = 8
    }
    withName: RUN_HLALA {
        container = 'kevinr9525/genome-seek_hla:v1.0.4'
        cpus = 4
        memory = { 40.GB + (60.GB * (task.attempt - 1)) }
        maxRetries = 5
    }
    withLabel: HLALA_CONTAINER {
        container = 'kevinr9525/genome-seek_hla:v1.0.4'
    }
    withName: RUN_KOURAMI_ALIGN_EXTRACT { 
        cpus = 4
        memory = { 20.GB.plus(12.GB * task.attempt) }
        container = 'kevinr9525/cancerit-kourami:latest'
    }
    withName: RUN_KOURAMI_JAR {
        cpus = 1
        memory = { 18.GB * task.attempt }
        container = 'kevinr9525/cancerit-kourami:latest'
    }
    withLabel: r_basic_container {
        container = 'kevinr9525/r-basic:dev'
    }
    withLabel: samtools_container {
        container = 'quay.io/biocontainers/samtools:1.21--h96c455f_1'
    }
    withName: SAMTOOLS_SORT_INDEX {
        memory = { 24.GB.plus(8.GB * task.attempt) }
        cpus = 4
    }
    withName: REALIGN_WITHOUT_ALT {
        memory = { 8.GB.plus(4.GB * task.attempt) }
    }
    withName: SORT_RESULTS {
        container = 'spvensko/cloud-sdk-ps:495.0.0'
    }
    withLabel: mosdepth_container {
        container = 'quay.io/biocontainers/mosdepth:0.3.12--h0ec343a_0'
    }
    withLabel: git {
        container = 'minidocks/git:2'
    }
    withName: HLA_LA_REFERENCE_PREPARE {
        memory = { 36.GB.plus(8.GB * task.attempt) }
        cpus = 4
    }
    errorStrategy = 'retry'
    maxRetries = 3
}

params {
        cram_fasta = null
        aligned = null
        // paths
        weights = "${projectDir}/assets/benchmarking_results_claeys_cleaned.csv"
        trimmer = "fastp"
        adapter_fasta = ""
        voting_method = "majority"
        save_trimmed_fail = false
        save_merged = false
        tracedir = "${params.outdir}/pipeline_info"
        trace_report_suffix = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
}

timeline {
    enabled = true
    file    = "${params.tracedir}/execution_timeline_${params.trace_report_suffix}.html"
    overwrite = true
}

report {
    enabled = true
    file = "${params.tracedir}/execution_report_${params.trace_report_suffix}.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${params.tracedir}/execution_trace_${params.trace_report_suffix}.txt"
    overwrite = true
}

dag {
    enabled = false
    file = "${params.tracedir}/pipeline_dag_${params.trace_report_suffix}.svg"
    overwrite = true
}

profiles {
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    cluster {
        executor = 'slurm'
        queue = 'defq'
        cpus = 4
        singularity.enabled     = true
        singularity.autoMounts  = true
        singularity.cacheDir = "/home/kryan/singularity_cache"
    }
    awsbatch {

        process {
            executor = 'awsbatch'
            queue = 'nextflow-queue-ami-10m-timeout'
        }

        params.awsregion = 'eu-west-1'

        aws {
            batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
            accessKey = secrets.MY_ACCESS_KEY
            secretKey = secrets.MY_SECRET_KEY
        }

        docker {
            enabled = true
        }

        singularity {
            enabled = false
        }
    }
    test {
        samplesheet = "https://raw.githubusercontent.com/kevinpryan/nf-hlamajority/assets/test-dataset/path-to/samplesheet-NA12878-test.csv"
        outdir = "test-NA12878"
        aligned = true
        cram_fasta = "https://ftp.1000genomes.ebi.ac.uk/vol1/ftp/technical/reference/GRCh38_reference_genome/GRCh38_full_analysis_set_plus_decoy_hla.fa"
    }
}
