process {
    withName: FASTP {
        memory = { 4.GB.plus(4.GB * task.attempt) }
    }
    withName:bwa_mem_align_alt_postalt {
        cpus = 15
        memory = { 12.GB.plus(12.GB * task.attempt) }
    }
    withLabel: bwa_mem_container{
        container = 'quay.io/biocontainers/bwakit:0.7.18.dev1--hdfd78af_0'
    }
    withName:bam2fastq {
        cpus = 12
        memory = { 12.GB.plus(12.GB * task.attempt) }
    }
    withLabel: biobambam2_container {
        container = 'quay.io/biocontainers/biobambam:2.0.185--h85de650_1'
    }
    withName: markduplicates {
        cpus = 4
        memory = { 4.GB.plus(4.GB * task.attempt) }
    }
    withName: RUN_OPTITYPE{
        cpus = 4
        memory = { 8.GB.plus(4.GB * task.attempt) }
    }
    withName: RUN_POLYSOLVER{
        container = 'kevinr9525/sachet-polysolver:v4'
        memory = { 8.GB.plus(4.GB * task.attempt) }
        cpus = 8
    }
    withName: RUN_HLALA{
        container = 'kevinr9525/genome-seek_hla:v1.0.4'
        cpus = 12
        memory = { 35.GB.plus(12.GB * task.attempt)}
    }
    withName: RUN_KOURAMI_ALIGN_EXTRACT{
        cpus = 4
        memory = { 20.GB.plus(12.GB * task.attempt) }
        container = 'kevinr9525/cancerit-kourami:latest'
    }
    withName: RUN_KOURAMI_JAR{
        cpus = 4
        memory = { 42.GB.plus(12.GB * task.attempt) }
        container = 'kevinr9525/cancerit-kourami:latest'
    }
    withLabel: r_basic_container {
        container = 'kevinr9525/r-basic:dev'
    }
    withLabel: samtools_container{
        container = 'quay.io/biocontainers/samtools:1.21--h96c455f_1'
    }
    withName: samtools_sort {
        memory = { 2.GB.plus(2.GB * task.attempt) }
    }
    withName: samtools_sort_index {
        memory = { 24.GB.plus(8.GB * task.attempt) }
        cpus = 12
    }
    /*
    withName: subsetBam2 {
        memory = { 4.GB.plus(2.GB * task.attempt) }
    }
    */
    withName: realignwithoutAlt {
        memory = { 8.GB.plus(4.GB * task.attempt) }
    }
    withName: SORT_RESULTS {
        container = 'spvensko/cloud-sdk-ps:495.0.0'
    }
    withLabel: mosdepth_container {
        container = 'quay.io/biocontainers/mosdepth:0.3.12--h0ec343a_0'
    }
    errorStrategy = 'retry'
    maxRetries = 3
}

params {
        rundir = "." 
        // this is the default installation directory in the install_references.sh script - can be overwritten on the command line 
        references_basedir = "${params.rundir}/references"
        reference_dir = "${references_basedir}/bwakit/hs38DH*"
        hla_la_graph = "${references_basedir}/hla-la"
        kourami_database = "${references_basedir}/kourami/db"
        kourami_ref = "${references_basedir}/kourami/resources/hs38NoAltDH.fa*"
        trimmer = "fastp"
        adapter_fasta = ""
        save_trimmed_fail = false
        save_merged = false
        tracedir = "${params.outdir}/pipeline_info"
        trace_report_suffix = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
}

timeline {
         enabled = true
         file    = "${params.tracedir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
         overwrite = true
    }
report {
         enabled = true
         file = "${params.tracedir}/execution_report_${params.trace_report_suffix}.html"
         overwrite = true
    }
trace {
        enabled = true
        file = "${params.tracedir}/execution_trace_${params.trace_report_suffix}.txt"
        overwrite = true
    }
dag {
        enabled = false
        file = "${params.tracedir}/pipeline_dag_${params.trace_report_suffix}.svg"
        overwrite = true
}


profiles {
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    cluster {
        executor = 'slurm'
        queue = 'defq'
        cpus = 4
        singularity.enabled     = true
        singularity.autoMounts  = true
        singularity.cacheDir = "/home/kryan/singularity_cache"
    }
}
