process{
  executor = 'awsbatch'
  // need to specify queue
  // main nextflow queue, often needs longer than default timeout - 10 minutes usually used here
  queue = 'REPLACE_ME'
  //resourceLabels = ['': ''] // populate as required
  withLabel: 'bwa_mem2_index' {
    cpus = { 16 * task.attempt }
    memory = { 84.GB.plus(12.GB * task.attempt)}
  }
  withLabel: star_index {
    cpus = 16
    memory = { 32.GB.plus(16.GB * task.attempt)}
  }
  withLabel: optitype_razers3 {
    cpus = 16
    memory = { 64.GB.plus(32.GB * task.attempt)}
  }
  withLabel: netctlpan_container {
      container = "REPLACE_ME"
      label = 'cloud'      
  }
  withLabel: netctlpan {
    cpus = { 1 * task.attempt }
    memory = { 20.GB.plus(12.GB * task.attempt)}
  }
  withLabel: netmhcstabpan_container {
      container = 'REPLACE_ME'
  }
  withLabel: netmhcstabpan {
    cpus = { 36 * task.attempt }
    memory = { 24.GB.plus(12.GB * task.attempt)}
  }
  withLabel: netmhcpan_container {
      label = 'cloud'
      container = 'REPLACE_ME'
  }
  withLabel: netmhcpan {
    cpus = { 36 * task.attempt }
    memory = { 20.GB.plus(12.GB * task.attempt)}
  }
  withLabel: antigen_garnish_container {
    label = 'cloud'
    container = 'andrewrech/antigen.garnish:2.3.0'
  }
  withLabel: antigen_garnish_foreignness {
    cpus = { 1 * task.attempt }
    memory = { 4.GB.plus(4.GB * task.attempt)}
  }
  withLabel: 'cnvkit_bcftools_container' {
    label = 'cloud'
    container = 'kevinr9525/cnvkit-0.9.12-bcftools-develop:dev'
  }
  withLabel: 'deephlapan' {
    cpus = { 1 * task.attempt }
    memory = { 40.GB.plus(10.GB * task.attempt)}
  }
  withName: 'aggregate_pmhc_summaries' {
    memory = { 12.GB.plus(6.GB * task.attempt)} 
  }
  withName: 'lenstools_get_fusion_transcripts_bed' {
    memory = { 2.GB.plus(4.GB * task.attempt)}
  }
  // increase memory requirements for a few tools 
  withLabel: optitype {
    cpus = 16
    memory = { 45.GB.plus(16.GB * task.attempt)}
  }
  withLabel: star_map {
    cpus =  12 
    memory = { 36.GB.plus(12.GB * task.attempt)}
  }
  withLabel: antigen_garnish_dissimilarity {
    cpus = { 2 * task.attempt }
    memory = { 30.GB.plus(10.GB * task.attempt)}
  }

  // replace rhub minimal container with one from lenstools as rhub container uses Alpine Linux as a base, which is incompatible with AWSBatch https://github.com/nextflow-io/nextflow/issues/1865 
  withLabel: r_minimal_container {
    label = 'cloud'
    container = 'spvensko/lenstools_r:1.8-dev'
  }
  // add to specific queue on AWS batch due to space requirements - here we usually use one with 2 TB disk space
  withName: whatshap_by_chr {
      queue = 'REPLACE_ME'
      memory = { 8.GB * task.attempt }
      cpus = { 2 * task.attempt }
  }
}

aws {
    accessKey = secrets.MY_ACCESS_KEY
    secretKey = secrets.MY_SECRET_KEY
    batch {
        cliPath = '/home/ec2-user/miniconda/bin/aws'
    }
}

params {
// modify as required
   awsregion = 'eu-west-1'
}

singularity {
   enabled = false
}

docker {
   enabled = true
}

params.lens$immuno$peps_and_alleles_to_antigen_stats$antigen_tool = 'netmhcpan,mhcflurry,deephlapan'
params.lens$immuno$peps_and_alleles_to_antigen_stats$antigen_tool_ref_dir = "['mhcflurry': \"${params.ref_dir}/mhcflurry\", 'antigen_garnish': \"${params.ref_dir}/antigen.garnish\"]"
params.lens$immuno$calculate_agretopicity$peps_and_alleles_to_antigen_stats$antigen_tool = 'netmhcpan,mhcflurry,deephlapan'
params.lens$immuno$calculate_agretopicity$peps_and_alleles_to_antigen_stats$antigen_tool_ref_dir = "['mhcflurry': \"${params.ref_dir}/mhcflurry\", 'antigen_garnish': \"${params.ref_dir}/antigen.garnish\"]"
params.hla_method = 'hlamajority'
// when running hlamajority, need to run seq2hla_ase on the RNA sample for HLA expression quantification (by default this would run seq2hla_ase and optitype on RNA sample)
params.lens$immuno$procd_fqs_to_rna_mhc_alleles$mhc_caller_tool = 'seq2hla_ase'
// tried to add hla_method and benchmark to lens.human.config, but these do not populate main.nf properly, so adding them manually 
params.lens$immuno$benchmark = "${params.ref_dir}/nf-hlamajority/references/majority_vote/benchmarking_results_claeys.csv"
