singularity {
  cacheDir = "/home/kryan/singularity_cache"
  autoMount = 'true'
  enabled = 'true'

}

process {
    executor = 'slurm'
    //queue = { task.memory >= 59.GB || task.cpus > 16 ? 'highmem' : 'normal' }
    queue = 'defq'
    //container = 'docker://kevinr9525/bwakit:dev'

    cpus = 4
    withName:bwa_mem_align_alt_postalt {
        cpus = 15
    }
    withLabel: bwa_mem_container{
        container = 'quay.io/biocontainers/bwakit:0.7.18.dev1--hdfd78af_0'
    }
    withName:bam2fastq {
        cpus = 12
        container = 'docker://kevinr9525/biocontainers-samtools-v1.9-4-deb_cv1:dev'
    }
    withName: RUN_OPTITYPE{
        cpus = 4
        //container = 'zlskidmore/optitype:latest'
        //container = '/home/kryan/singularity_cache/optitype_1.3.5.sif'
    }
    withName: RUN_POLYSOLVER{
        //container = '/data/containers/polysolver-singularity_v4.sif'
        //container = 'shub://IARCbioinfo/polysolver-singularity:v4'
        container = 'docker://kevinr9525/sachet-polysolver:v4'
        cpus = 8
    }
    withName: RUN_HLALA{
        //container = '/data/kryan/hla-la-data/genome-seek_hla_latest.sif'
        //container = 'docker://kevinr9525/genome-seek_hla:v1.0.3'
        container = 'docker://kevinr9525/genome-seek_hla:v1.0.4'
        cpus = 12
    }
    withName: RUN_KOURAMI_ALIGN_EXTRACT{
        //container = '/data/containers/cancerit-kourami_latest.sif'
        container = 'docker://kevinr9525/cancerit-kourami:latest'
    }
    withName: RUN_KOURAMI_JAR{
        //container = '/data/containers/cancerit-kourami_latest.sif'
        container = 'docker://kevinr9525/cancerit-kourami:latest'
    }
    withName: MAJORITY_VOTE{
        //container = '/data/containers/r-basic_dev.sif'
        container = 'docker://kevinr9525/r-basic:dev'
    }
    withLabel: samtools_container{
        container = 'quay.io/biocontainers/samtools:1.21--h96c455f_1'
    }

    //containerOptions = '-B `cat /data/kryan/misc/useful/nextflow/nf-alt-align/mounts.config` --no-home'
    //containerOptions = '--no-home'
}

params {
        rundir = "/home/kryan/misc/useful/nextflow/nf-hlatyping" 
        outdir = 'outdir_all_tools_20250507_test_bwakit_new_container'
        reference_dir = "${params.rundir}/references/bwa-0.7.15/bwakit/hs38DH*"
        reference_basename = "hs38DH"
        hlatypes = "${params.rundir}/references/bwa-0.7.15/bwakit/bwa.kit/resource-human-HLA/HLA-ALT-type.txt"
        samplesheet = 'samplesheet_40274028.csv'
        chr = "chr6"
        subset_regions = "/home/kryan/misc/useful/nextflow/nf-hlatyping/index-fastas/regions.txt"
        hla_la_graph = "${params.rundir}/references/hla-la"
        kourami_database = "${params.rundir}/references/kourami/db"
        kourami_ref = "${params.rundir}/references/kourami/resources/hs38NoAltDH.fa*"
        trimmer = "fastp"
        adapter_fasta = ""
        save_trimmed_fail = false
        save_merged = false
        tracedir = "${params.outdir}/pipeline_info"
}

timeline {
         enabled = true
         file = "${params.tracedir}/execution_timeline.html"
         overwrite = true
    }
report {
         enabled = true
         file = "${params.tracedir}/execution_report.html"
         overwrite = true
    }
trace {
        enabled = true
        file = "${params.tracedir}/execution_trace.txt"
        overwrite = true
    }
dag {
        enabled = false
        file = "${params.tracedir}/pipeline_dag.svg"
        overwrite = true
}

